<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Welcome!{% endblock %}</title>
	<!-- Custom styles for this template -->
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<div id="app" class="app-body">
</div>
<footer class="app-footer">
	<div>
		<span>© {{ "now"|date("Y") }} All rights reserved</span>
	</div>
</footer>
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
