{% extends 'base.html.twig' %}

{% block title %} Clients {% endblock %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item active">Clients</li>
	</ol>
{% endblock %}

{% block body %}

	<p>content will be soon... </p>

{% endblock %}